Title: Commenting SQL Code   
Slug: commenting_sql_code  
Summary: Commenting code in SQL. 
Date: 2017-16-01 12:00  
Category: SQL  
Tags: Basics  
Authors: Chris Albon  

Note: This tutorial was written using [Catherine Devlin's SQL in Jupyter Notebooks library](https://github.com/catherinedevlin/ipython-sql). If you have not using a Jupyter Notebook, you can ignore the two lines of code below and any line containing `%%sql`. Furthermore, This tutorial uses SQLite's flavor of SQL, your version might have some differences in syntax.

For more, check out [Learning SQL](http://amzn.to/2jRriHj) by Alan Beaulieu.

In [1]:
# Ignore
%load_ext sql
%sql sqlite://
%config SqlMagic.feedback = False

## Create Data

In [2]:
%%sql

-- Create a table of criminals
CREATE TABLE criminals (pid, name, age, sex, city, minor);
INSERT INTO criminals VALUES (412, 'James Smith', 15, 'M', 'Santa Rosa', 1);
INSERT INTO criminals VALUES (234, NULL, 22, 'M', 'Santa Rosa', 0);
INSERT INTO criminals VALUES (632, NULL, 23, 'F', 'San Francisco', 0);
INSERT INTO criminals VALUES (901, 'Gordon Ado', 32, 'F', 'San Francisco', 0);
INSERT INTO criminals VALUES (512, 'Bill Byson', 21, 'M', 'Petaluma', 0);

[]

## Write Some SQL Code With Single And Multiline Comments

In [3]:
%%sql

--  This is a single line of commenting
SELECT name, age

FROM criminals -- It can also be placed at the end of the line

/* This is multiple 
lines of comments so we can include more
details if we need to. */
WHERE name IS NOT NULL

[('James Smith', 15), ('Gordon Ado', 32), ('Bill Byson', 21)]